<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>500064383470-jnghetjlktvt9r94iflfqnr3an61dph0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.500064383470-jnghetjlktvt9r94iflfqnr3an61dph0</string>
	<key>API_KEY</key>
	<string>AIzaSyAcPo-AeZmwzYLQcfSOSdvG8l6V6LsS9H0</string>
	<key>GCM_SENDER_ID</key>
	<string>500064383470</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>comSonic.SideMenu</string>
	<key>PROJECT_ID</key>
	<string>sidemenu-45f6f</string>
	<key>STORAGE_BUCKET</key>
	<string>sidemenu-45f6f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:500064383470:ios:76a364942bfcb27e</string>
	<key>DATABASE_URL</key>
	<string>https://sidemenu-45f6f.firebaseio.com</string>
</dict>
</plist>